.sections__photo-grid{
  margin: 0 auto;
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 850px) {
  .sections__photo-grid{
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 425px) {
  .sections__photo-grid{
    width: calc(100% - 16px*2);
  }
}
