.sections__lead {
  margin: 0 auto;
  width: calc(100% - 148px*2);
}

@media screen and (max-width: 1100px)  {
  .sections__lead {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 850px) {
  .sections__lead {
    width: calc(100% - 0px*2);
  }
}
